body{
    margin: 0;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
p{
    margin: 0 0 10px;
}

/*CONTAINER
=================================*/
.container{
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
}
/*HEADER
=================================*/
.header{

    padding-top:30px ;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    margin-right: 250px;

}

/*NAV
=================================*/
.nav{
    font-size: 14px;
}
.nav__link{
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.1s linear;
    position:relative ;
}
.nav__link:hover{
    color: #c7b299;
}
/*INTRO
===================================*/
.intro{
    background: url("../img/header/bg.jpg") center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.intro__inner{
    text-align: center;
}
.intro__title{
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 20px;
}
.intro__suptitle{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.intro__text{
    font-size: 16px;

}


/*Btn
---------------------------*/
.btn{
    display: inline-block;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border:2px solid #998675;
    border-radius: 3px;
    background-color: #998675;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color .2s linear;

}
.btn--start{
    margin-top: 70px;
}
.btn--load{
    margin-top: 65px;

}
.btn:hover{
    background-color: #736357;
    border-color:  #736357;

}
/*Services
_______________________________*/
.services{
    margin-top: 75px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.services__item{
    width: 25%;
}
.services__inner{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.services__icon1{

    margin-bottom: 20px;


}
.services__title{
    color: #555555;
    font-size: 22px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.services__text{
    font-size: 14px;
    color: #8c8c8c;
}
.services__text:after{
    content: '';
    background-color: #c7b299;
    width: 70px;
    height: 3px;
    display: block;
    margin: 30px auto;
    opacity: 0;
    z-index: 1000;
}
.services__item:hover
.services__title{
    color: #c7b299;
    transition: color .2s linear;
}
.services__item:hover
.services__text:after{
    opacity: 1;
    transition: opacity .2s linear;

}
.services__item:hover
.services__icon1{
    opacity: .8;
    transition: opacity .2s linear;
}
/*IDEAS
--------------------------------------*/
.ides{

}
.ideas__inner{
    text-align: center;
    margin-top: 150px;
}
.section__title{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color: #555555;
    margin-bottom: 25px;
}
.section__text{

    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}
.ideas__item{
    width: 100%;
    max-width: 600px;
    margin: 60px auto;
    position: relative;

}
.ideas__photo{
    display: block;
    max-width: 100%;
    height: auto;
}
.ideas__photo--center{
    position: absolute;
    z-index: 100;
}
.ideas__photo--left{
    position: absolute;
    right: 300px;
    top: 64px;
    z-index: 1;

}
.ideas__photo--right{
    position: absolute;
    left:300px;
    top:64px;
    z-index: 2;
}
/*Purchase
------------------------------------*/
.purchase {
    margin-top: 435px;
    background: linear-gradient(to left, #4e3427, #211b19);
    height: 150px;
    width: 100%;
}
.purchase__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;



}
.purchase__left{
    margin-top: 50px;
}
.purchase__title{
    font-size: 28px;

    font-family: 'Raleway',sans-serif;
}
.purchase__title span{
    color: #c7b299;
}
.purchase__text{
    font-size: 18px;
    font-weight: 300;
    color: #615855;
}
.purchase__button{
    margin-top: 50px;

}
/*Projects*/
.projects__inner{
    text-align: center;
    margin-top: 85px;
}
.project__item{
    display: flex;
    justify-content: center;


}
.project__btn{
    color: #8c8c8c;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;

}
.project__btn:hover{
    background-color: #998675;
    color: white;
    border-radius: 8px;
    transition: background-color  .2s linear;
    transition: color .2s linear;

}
/*works
---------------------------------------*/
.works{
    margin-top: 40px;
}
.works__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works__item{

    margin-bottom: 30px;
    width: 370px;
    height: auto;
    padding-bottom: 20px;
}
.works__title{
    color: #c7b299;
    font-size: 20px;
    font-family: 'Raleway',sans-serif ;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 20px;

}
.works__text{
    margin-top: 10px;
    font-size: 14px;
    color: #d1d1d1;
    margin-left: 20px;
}
.works__photo{
    position: relative;
}
.works__cardtext{
    cursor: pointer;
    width: 100%;
    color: #fff;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50%, 0);
    transition: opacity .2s linear;

}
.works__item:hover {
    background-color: #362f2d;
    transition: background-color .2s linear;
}
.works__item:hover
.works__img{
    opacity: .5;
}
.works__item:hover
.works__cardtext{
    opacity: 1;

}
.works__icons1:hover{
    color: #c7b299;
    transition: color .2s linear;
}
.works__icons2:hover{
    color: #c7b299;
    transition: color .2s linear;
}
/*Video
------------------------------------*/
.video{
    margin-top: 80px;
    background: url("../img/video/Waxom-Hemepage_02.jpg")
    center no-repeat;
    background-size:cover ;
    width: 100%;
    height: 705px;
}
.video__inner{
    text-align: center;
    padding-top: 355px;
}
.video__title{
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}
.video__text{
    font-size: 16px;
    line-height: 1.8;
    color: white;
}
.video__time{
    margin-top: 35px;
    font-size: 14px;
    color: #c7b299;
}
/*Iphone
----------------------------*/
.iphone{
    margin-top: 75px;
}
.iphone__inner{
    display: flex;
    /*flex-wrap: wrap;*/

}

.iphone__title{
    margin-top: 116px;
    font-size: 30px;
    font-weight: 700;
    color: #555555;
}
.iphone__text{
    padding-top: 35px;
    justify-content: end;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 1.8;
}
.iphone__strings{
    font-size: 16px;
    color: #8c8c8c;
    margin-top: 80px;
}

.iphone__string{
    margin-bottom: 20px;
    margin-left:52px ;
}
.iphone__arrow{
    color: white;
    margin-right: 30px;
    text-align: center;
    border: 2px solid #c7b299;
    border-radius: 20px;
    background-color: #c7b299;
}
/*Numbers
-------------------------------------*/
.numbers{
    background: linear-gradient(to left, #4e3427, #211b19);
    height: 304px;
}
.numbers__inner{
    display: flex;
    flex: 1 1 0;
}
.num__item{
    width: 20%;
    text-align: center;
    padding-top: 70px;
}
.numbers__num{
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 15px;
}
.numbers__text{
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase;
}
.numbers__text:after{
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}



